.post-content ul {
  list-style: lower-alpha;
  margin-left: 1rem;
}

.video-player {
  margin-bottom: 2rem;
  width: fit-content;
  height: auto;
  max-width: 730px;
}

.video-player lite-vimeo {
  /* background-image: none !important; */
  background-color: var(--gray-3);
}
.dark .video-player lite-vimeo {
  background-color: var(--gray-8);
}
.video-player lite-youtube {
  margin: 0 auto;
}

.svg__lit img {
  width: 85px;
  height: auto;
  margin-bottom: 1rem;
}

p > em {
  font-family: "Alegreya Sans 200i";
}

.blog-post h2,
.blog-post h3,
.blog-post h4 {
  max-width: fit-content;
}

.dark hr {
  opacity: 0.3;
}

.blog-post header p {
  text-align: center;
}

.border__drawn {
  inline-size: var(--size-14);
  border: transparent var(--border-size-4) solid;
  border-radius: var(--radius-drawn-6);
  background-image: var(--gradient-3);
}

.back-to-blog {
  justify-items: start;
}
.dark .back-to-blog {
  color: var(--gray-4);
}

.back-to-blog a {
  font-weight: 300;
  border-bottom: 1px solid transparent;
  color: var(--gray-7);
}
.back-to-blog a:hover {
  border-bottom: 1px dotted var(--gray-7);
}

.author-metadata {
  margin: 1.5rem 0;
}
.author-metadata > div {
  display: flex;
  align-items: center;
  font-size: ;
}

.avatar-img {
  display: flex;
  justify-content: center;
  width: 75px;
  margin-right: 1rem;
}
.avatar-text h2 {
  margin: 0;
}
.avatar-text p {
  font-size: 1rem;
  width: 27ch;
  margin: 0;
}

.author-metadata img {
  aspect-ratio: 1;
  border-radius: 50%;
}

.blog-page_astro-list ul li {
  list-style: disc;
}

.blog-page_astro-list ul li ul li {
  list-style: circle;
}
