.post-content ul {
  list-style: lower-alpha;
  margin-left: 1rem;
}

.video-player {
  margin-bottom: 2rem;
  width: fit-content;
  height: auto;
  max-width: 840px;
}

.video-player lite-vimeo {
  background-image: none !important;
}