.post-content ul {
  list-style: lower-alpha;
  margin-left: 1rem;
}

.video-player {
  margin-bottom: 2rem;
  width: fit-content;
  height: auto;
  max-width: 840px;
}

.video-player lite-vimeo {
  /* background-image: none !important; */
}
.video-player lite-youtube {
  margin: 0 auto;
}

.svg__lit img {
  margin-bottom: 1rem;
}