:root {
  --white: hsla(0, 0%, 100%, 1);
}

.op-icon-p {
  stroke: var(--indigo-2);
  stroke-width: 25px;
}

.op-icon-o {
  stroke: var(--indigo-4);
  stroke-width: 25px;
}

.alert {
  background-color: var(--camo-1);
  border-radius: var(--radius-drawn-4);
}

.dark .alert {
  background-color: var(--jungle-12);
  
}