:root {
  --white: hsla(0, 0%, 100%, 1);
  --primary: var(--blue-4);
  --secondary: var(--stone-6);
  --success: var(--green-4);
  --danger: var(--red-7);
  --warning: var(--yellow-5);
  --info: var(--blue-3);
  --light: var(--stone-0);
  --dark: var(--gray-8);
}

.op-icon-p {
  stroke: var(--indigo-2);
  stroke-width: 25px;
}

.op-icon-o {
  stroke: var(--indigo-4);
  stroke-width: 25px;
}

.alert {
  background-color: var(--camo-1);
  border-radius: var(--radius-drawn-4);
}

.dark .alert {
  background-color: var(--jungle-12);
}

pre.astro-code {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--radius-2);
}

