/* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,8 */

:root {
  --grid-max-width: 77.5rem;
  --grid-gutter: var(
    --space-s-l,
    clamp(1.125rem, 0.2788rem + 4.2308vw, 2.5rem)
  );
  --grid-columns: 12;
}

html {
  height: 100%;
  font-family: system-ui, sans-serif;
  --bg-dark-container: hsla(213, 9%, 23%, 1);
}

html,
.hero,
nav {
  width: 100%;
  overflow-x: hidden;
}

footer {
  width: 90%;
}

html.dark {
  background-color: var(--gray-9);
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  grid-template-rows: repeat(4, auto) 1fr auto;

  grid-template-columns: repeat(var(--grid-columns), 1fr);
  column-gap: var(--grid-gutter);
  /* max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter); */
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

nav {
  grid-area: 1 / 1 / 2 / -1;
}

.dark nav {
  background-color: var(--bg-dark-container);
}

.hero {
  display: grid;
  grid-template-columns: subgrid;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  background-image: url("../../pages/_img/hero-image.jpg");

  & > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;

    & h1 {
      grid-column: 3 / -2;
    }

    & p {
      grid-column: 3 / span 7;
    }
  }
}

.hero {
  & span {
    color: var(--gray-6);
  }
}

main {
  display: grid;
  grid-row: 4 / 5;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  width: 100%;
  height: 100%;
  margin: auto;

  &.home {
    margin-inline: auto;

    & .container__home {
    }
  }
}

section {
  &.one {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;

    & :is(h1, h2, p) {
      grid-column: 4 / span 4;
    }
    & a {
      grid-column: 4 / span 2;
    }
  }
  &.two {
    display: grid;
    grid-area: 5 / 1 / 6 / -1;
    grid-template-columns: subgrid;
    grid-template-rows: 3 / 4;
    margin: 1rem 0;
    padding: 1rem 0;
    background-image:  var(--gradient-19);
    
    & p {
      /* grid-column: 5 / span 4; */
      font-family: 'Alegreya Sans 500';
      grid-column: 1 / -1;
      justify-self: center;
      margin: 0;
      text-align: center;
      /* color: var(--gradient-29); */
    }
  }
  &.three {
    grid-area: 6 / 4 / 7 / 11;
  }
}

/* =========== from clearleft ============== */
.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

main.about,
main.contact {
  grid-row: 3 / 5;
}

.about,
.blog,
.contact,
.tags {
  grid-column: 2 / 3;
}

.blog {
  grid-row: 2 / 4;
}

.dark .card {
  background-color: var(--bg-dark-container);
}

hr {
  margin-block: var(--size-fluid-2);
}

.dark code {
  background-color: var(--gray-7);
}

footer {
  grid-row: 5 / 6;
  grid-column: 2 / -2;
  width: 100%;
  & ul {
    margin-bottom: 0;
    & li {
      margin-bottom: 0;
    }
  }
}

.dark footer {
  background-color: var(--bg-dark-container);
}

button {
  padding-block: 0.75ch;
  padding-inline: var(--size-relative-6);
  background-image: var(--_bg);
  color: var(--_text);
}

button.btn-custom {
  --_bg: linear-gradient(var(--indigo-5), var(--indigo-7));
  --_border: var(--indigo-6);
  --_text: var(--indigo-0);
  --_ink-shadow: 0 1px 0 var(--indigo-9);
  background-image: var(--_bg);
}

.blog-post__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: var(--size-5);
}

