:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    white 60%
  );
  --space-4xs: clamp(0.1875rem, 0.1875rem + 0vw, 0.1875rem);
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.625rem, 0.6033rem + 0.1087vw, 0.6875rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-sm: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-md: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-lg: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
}

html {
  height: 100%;
  font-family: system-ui, sans-serif;
  --bg-dark-container: hsla(213, 9%, 23%, 1);
}

html,
.hero,
nav {
  width: 100%;
  overflow-x: hidden;
}

html.dark {
  background-color: var(--gray-9);
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}


.dark nav {
  background-color: var(--bg-dark-container);
}

.dark time {
  color: var(--gray-5);
}

.hero {
  background-image: url("../../pages/_img/hero-image.jpg");
}

.hero {
  & span {
    color: var(--gray-6);
  }
}

.hero-container {
  width: 100vw;
}

main {
  width: 100%;
  height: 100%;
  margin: auto;

  &.home {
    margin-inline: auto;
    place-items: center;

    & .container__home {
    }
  }
}

/* =========== Thanks to Kevin Powell ============== */
.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
  display: inherit;
  justify-content: center;
}

.content-grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
  background-color: var(--gray-3);
}

.rows {
  place-items: center;
  gap: var(--space-sm);
  display: grid;
}

.dark .features {
  background-color: var(--gray-7);
}

.dark .technologies {
  background-color: var(--gray-9);
}
.dark .card {
  background-color: var(--bg-dark-container);
}

.avatar {
  border: var(--border-size-3) solid var(--purple-5);
  border-radius: var(--radius-round);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .avatar {
  border: var(--border-size-3) solid var(--purple-9);
}

img.full-width {
  width: 100%;
  max-height: 45vh;
  object-fit: cover;
}
hr {
  margin-block: var(--size-fluid-2);
}

.dark code {
  background-color: var(--gray-7);
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: [footer-start] 1fr [footer-end];
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  & ul {
    margin-bottom: 0;
    & li {
      margin-bottom: 0;
    }
  }
}

.nav--footer {
  grid-column-start: footer-start !important;
  grid-column-end: footer-end !important;
  grid-row: 1 / 2;
  justify-self: center;
}

.nav--footer li {
  padding-inline: 1rem;
}

.social {
  grid-column-start: footer-start !important;
  grid-column-end: footer-end !important;
  grid-row: 2 / 3;
  justify-self: center;
}

.legal {
  grid-column-start: footer-start !important;
  grid-column-end: footer-end !important;
  grid-row: 3 / 4;
  justify-self: center;
}

.dark footer {
  background-color: var(--bg-dark-container);

}
.dark footer a.active, .dark footer a.active:visited {
  color: var(--white);
}

ul.social {
  display: flex;
  width: 50%;
  max-width: 320px;
  justify-content: space-between;
  align-items: center;
}
a {
  padding: 0.5rem;
  color: var(--gray-6);
  text-decoration: none;
}
.dark .social {
  color: var(--gray-4);
}

button {
  padding-block: 0.75ch;
  padding-inline: var(--size-relative-6);
  background-image: var(--_bg);
  color: var(--_text);
}

button.btn-custom {
  --_bg: linear-gradient(var(--indigo-5), var(--indigo-7));
  --_border: var(--indigo-6);
  --_text: var(--indigo-0);
  --_ink-shadow: 0 1px 0 var(--indigo-9);
  background-image: var(--_bg);
}

.blog-post__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: var(--size-5);
}
