:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);

}

@media (--md-n-below) {
  .blog-post__grid {
    grid-template-columns: 1fr;
  } 
}

@media (--md-n-above) {
  nav ul {
    margin-bottom: 0;
    & li {
      margin-bottom: 0;
    }
  }
}

@media (--lg-n-below) {
  .hero {
    background-size: cover;
  }
}