@font-face {
  font-family: 'Alegreya Sans 900';
  src: url('../fonts/AlegreyaSans-Black.woff2'), format("woff2"), url('../fonts/AlegreyaSans-Black.ttf'), format("ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 900;
}
@font-face {
  font-family: 'Alegreya Sans 500';
  src: url('../fonts/AlegreyaSans-Medium.woff2'), format("woff2"), url('../fonts/AlegreyaSans-Medium.ttf'), format("ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Alegreya Sans 200n';
  src: url('../fonts/AlegreyaSans-Light.woff2'), format("woff2"), url('../fonts/AlegreyaSans-Light.ttf'), format("ttf");
  font-display: swap;
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Alegreya Sans 200i';
  src: url('../fonts/AlegreyaSans-LightItalic.woff2'), format("woff2"), url('../fonts/AlegreyaSans-LightItalic.ttf'), format("ttf");
  font-display: swap;
  font-style: italic;
  font-weight: 200;
}

@custom-selector :--font-heading h1;
@custom-selector :--font-subhead h2, h3, h4, h5, h6;
@custom-selector :--font-subhead-smaller h3, h4, h5, h6;
@custom-selector :--font-bodyText p, ul, li, dd, dl;
@custom-selector :--font-bodyTextItalic i;

:root {
  --fluid-body-txt-18-32: clamp(1.125rem, 0.7273rem + 1.0vw, 2rem);
}

:--font-heading {
  margin-block: var(--size-fluid-3);
  width: var(--size-content-3);
  font-family: 'Alegreya Sans 900', sans-serif;
  font-size: var(--font-size-fluid-3);
  line-height: var(--font-lineheight-00);
  font-weight: 900;
}
:--font-subhead {
  margin-block-end: var(--size-fluid-2);
  font-family: 'Alegreya Sans 500', sans-serif;
  font-size: var(--font-size-fluid-2);
}
:--font-subhead-smaller {
  margin-block-end: var(--size-fluid-2);
  font-family: 'Alegreya Sans 500', sans-serif;
  font-size: var(--font-size-fluid-1);
}
:--font-bodyText {
  --font-size-fluid-1-5: clamp(1rem, 2vw, 1.35rem);
  margin-block-end: var(--size-fluid-3);
  font-family: 'Alegreya Sans 200n', sans-serif;
  font-size: var(--fluid-body-txt-18-32);
  line-height: var(--font-lineheight-2);
  font-weight: 200;
}
:--font-bodyTextItalic {
  --font-size-fluid-1-5: clamp(1rem, 2vw, 1.35rem);
  margin-block-end: var(--size-fluid-3);
  font-family: 'Alegreya Sans 200i', sans-serif;
  font-size: var(--fluid-body-txt-18-32);
  line-height: var(--font-lineheight-2);
  font-weight: 200;
}
.hero h1 {
  --font-size-fluid-4: clamp(5rem, 4vw, 3.5rem);
  font-size: var(--font-size-fluid-4);
}

nav span {
  font-family: 'Alegreya Sans 900', sans-serif;
  letter-spacing: var(--font-letterspacing-1);
}

strong {
  font-family: 'Alegreya Sans 500', sans-serif;
  font-weight: var(--font-weight-5);
}

code {
  font-size: var(--font-size-fluid-0);
}

h1 {
  font-size: var(--font-size-fluid-3);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark p,
.dark ul,
.dark li,
.dark label,
.dark legend
 {
  color: var(--gray-4);
}

/* from astro */
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.p-text-gradient {
  background-image: var(--gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-size: 400%; */
  background-position: 0%;
}
.p-text-gradient-23 {
  background-image: var(--gradient-23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}