---
import Layout from "../layouts/Layout.astro";
const pageTitle = "About";
---

<Layout title={pageTitle}>
  <main class="content-grid about">
    <h1>About me</h1>
    <p>
      My first job was at age 14 (thanks to help from my dad), in which I helped
      around an Architecture office. As a kid at that time I was interested in
      artistic, creative things and building stuff (making models, etc.). Then here were these people, architects, making
      a living doing this. About all I really did there beyond observing was to
      get in their way. And it didn't last long as a job&mdash;but that short experience had a deep effect on me.
    </p>
    <p>
      This original desire has morphed into digital architecture, leading to
      creating websites.
    </p>
    <p>
      Although I've been doing this for years now, I still feel like I
      can&ldquo;t keep up with the pace of changes in the Front-end world. Well,
      I'm comforted in that <i>no one can</i>. I take it all a day at a time and
      thank God that my brain seems to have no limit to what it learns.
    </p>
    <p>
      Many development managers consider CSS as a language most developers
      "know". Little do they realize the benefit of having a true CSS
      professional that can write clean, scalable, efficient and manageable
      code, as well as author JavaScript, that's me.
    </p>

    <p>
      I just finished 7 years as a UI Developer <span class="link"
        ><a href="https://www.ptc.com/en/products/vuforia" target="_blank"
          >for Vuforia</a
        ></span
      > an Augmented Reality platform. Vuforia is a division of <span class="link"
        ><a href="https://www.ptc.com/" target="_blank"
          >a division of PTC Inc.</a
        ></span
      >. At Vuforia I was able to incorporate some of the latest CSS
      technologies coupled with JavaScript to build our multiple Augmented
      Reality applications. I worked in LitHTML, Some React, and styled in a
      component environment. If you are interested in a resume, <span class="link"><a href="https://docs.google.com/document/d/1SbnF_DLT53dYZODoAWqa_G3L4ztqenRofcjBi7ycXdg/edit?usp=sharing" target="_blank">go here &rsaquo;</a></span>
    </p>
    <p>
      My extensive past experience in Web Design, and even formerly Print Design
      drives excellence in our customers experience through our digital
      presence.
    </p>
  </main>
</Layout>
