---
import Heading from "@/components/ui/Heading.astro";
import Layout from "../layouts/Layout.astro";
import { fade } from "astro:transitions";
const pageTitle = "About";
---

<Layout title={pageTitle}>
  <main
    class="content-grid about"
    transition:animate={fade({ duration: "0.7s" })}
  >
    <Heading tagName="h1" size="h1" align="center">{pageTitle} Me</Heading>
    <p>
      My journey into the professional world started at age 14, thanks to a
      little help from my dad. I found myself in an architecture office,
      captivated by the creativity and craftsmanship of the architects around
      me. While my contributions mostly involved getting in their way 😂, it was
      an eye-opening experience. The idea that people could build a career
      around creating things left a lasting impression on me.
    </p>
    <p>
      Over time, that early fascination with design and construction evolved
      into a passion for digital architecture—leading me to build websites.
    </p>
    <p>
      Although I&rsquo;ve been a developer for years now, I&rsquo;m always
      amazed by the fast pace of change in the Front-End world. Some days, it
      feels impossible to keep up, but I&rsquo;m comforted knowing no one truly
      can. I take it one step at a time, grateful that my brain seems to have an
      endless capacity to keep learning.
    </p>
    <p>
      Many see CSS as a &ldquo;given&rdquo; in a developer&rsquo;s skill set,
      but mastering it is another story. Writing clean, scalable, and efficient
      CSS is an art form, one I&rsquo;ve honed to build seamless digital
      experiences. Coupling that with my proficiency in JavaScript, I take pride
      in delivering maintainable and professional-quality code.
    </p>
    <p>
      Most recently, I spent 7 years as a UI Developer at <span
        class="link__color"
        ><a href="https://www.ptc.com/en/products/vuforia" target="_blank"
          >Vuforia</a
        ></span>, a leading Augmented Reality platform within <span class="link__color"
        ><a href="https://www.ptc.com/" target="_blank">PTC Inc</a></span
      >. At Vuforia, I worked with cutting-edge CSS and JavaScript technologies
      to build multiple AR applications. I had the chance to dive into LitHTML,
      React, and component-based styling, blending design and functionality in a
      truly immersive way.
    </p>
    <p>
      If you&rsquo;d like to explore more about my professional path, as well as
      projects I've worked on, you can do that <span class="link__color"
        ><a href="http://www.linkedin.com/in/peter-y-chapman" target="_blank"
          >here &rsaquo;</a></span>.
    </p>
    <p>
      My background in both Web and Print Design has given me a unique
      perspective on creating digital experiences. I strive for excellence in
      everything I create, ensuring users enjoy a seamless journey through every
      digital interaction.
    </p>
  </main>
</Layout>
