---
import Layout from "../layouts/Layout.astro";
const pageTitle = "About";
---

<Layout title={pageTitle}>
  <main class="about">
    <h1>About me</h1>
    <p>
      Although I've been doing this for over 20 years now, I still feel like I
      can't keep up with the pace of changes in the Front-end world. Well, I'm
      comforted in that <i>no one can</i>. I take it all a day at a time and
      thank God that my brain seems to have no limit to what it learns.
    </p>
    <p>
      Many development managers consider CSS as a language most developers
      "know". Little do they realize the benefit of having a true CSS
      professional that can write clean, scalable, efficient and manageable
      code, as well as author JavaScript, that's me.
    </p>

    <p>
      Currently I'm a UI Developer for Vuforia (a division of PTC Inc.), incorporating some of the latest CSS technologies coupled
        with JavaScript to build our multiple Augmented Reality applications. I work
        in LitHTML, Some React, and style in a component environment.
    </p>
      <p>My extensive past experience in Web Design, and even formerly Print Design drives
        excellence in our customers experience through our digital presence.</p>
    </p>
  </main>
</Layout>
