---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
import Card from "../components/Card.astro";

const allPosts = await getCollection("posts");
const pageTitle = "Peter's Blog";
---

<Layout title={pageTitle}>
  <main class="content-grid blog">
    <h1><span class="text-gradient">Pete's Blog</span></h1>
    <p>This is the text for the Blog page.</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse id et, omnis
      officia dolores aliquam earum, dignissimos beatae quos minus, quod
      laboriosam quia assumenda cum ex ea in ad molestiae.
    </p>
    <Card href={'#'} title={'This is the title'} body={'Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptate suscipit sunt numquam mollitia hic repellat, perspiciatis minima recusandae voluptas ipsum atque reiciendis natus porro laboriosam quo impedit ut maxime.'}  />
    <div class="blog-post__grid">
      {
        allPosts.map((post) => (
          <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
        ))
      }
    </div>
  </main>
</Layout>
