---
import Layout from "@/layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Heading from "@/components/ui/Heading.astro";
import FeaturesBanner from "@/components/FeaturesBanner.astro";
import { fade } from "astro:transitions";
import { Image } from "astro:assets";
const title = "Peter's website";
import peter from "../assets/img/avatar.jpg";
import Technologies from "@/components/ui/Technologies.astro";
---

<Layout title={title}>
  <Hero />
  <main
    class="content-grid home"
    transition:animate={fade({ duration: "0.7s" })}
  >
    <div class="flex items-center w-full">
      <Heading tagName="h1" size="h1" align="center"><span class="text-gradient">Welcome to my website</span></Heading>
    </div>
    <Heading tagName="h2" size="h2" align="center">Unleash my experience to serve your team or business</Heading>
    <div class="alert">
      <p>There is currently an issue with the dark/light theme feature. I am working on it.</p>
    </div>
    <p>
      <Image
        src={peter}
        alt="Peter's avatar"
        class="w-12 h-12 mr-4 rounded-full avatar float-left"
        format="webp"
      />
      Do you need a website? Does your website need a refreshed look? Do you need a part of you site worked on, perhaps images redone or content changed? Perhaps one page or section is confused, not cohesive?</p>
    <p>I can take your business thoughts and ideas for a greater online presence and turn them into reality.</p>
    <p>I have years of experience in building web pages, applications and websites for internal and external clients. If you'd like to &ldquo;cut to the chase&rdquo; and contact me, click the button below, and I'll get back to you as soon as possible. Or if you want to browse around feel free!</p>
    <div class="buttons__multiple">
      <a href="/contact/"
        ><button class="mb-4 btn-custom">Contact me &rsaquo;</button></a
      >
      <a href="/about/"
        ><button class="mb-4 btn-custom">About me &rsaquo;</button></a
      >
    </div>
    <FeaturesBanner />
    <Technologies />

  </main>
</Layout>
