---
import Layout from "@/layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Heading from "@/components/ui/Heading.astro";
import FeaturesBanner from "@/components/FeaturesBanner.astro";
import { fade } from "astro:transitions";
import { Image } from "astro:assets";
const title = "Peter's website";
import peter from "../assets/avatar.jpg";
---

<Layout title={title}>
  <Hero />
  <main
    class="content-grid home"
    transition:animate={fade({ duration: "0.7s" })}
  >
    <div class="flex items-center">
      <Image
        src={peter}
        alt="Peter's avatar"
        class="rounded-full w-12 h-12 avatar"
        format="webp"
      />
      <h1 class="ml-4"><span class="text-gradient">Welcome</span></h1>
    </div>
    <Heading tagName="h2" size="h2" align="left">Websites &amp; Architecture</Heading>
    <p>
      My first job was at age 14 (thanks to help from my dad), in which I helped around
      an Architecture office. As a kid at that time I was interested in
      artistic, creative things. Then here were these people, architects, making
      a living doing this. About all I really did there beyond observing was to
      get in their way. And it didn't last long as a job&mdash;but just being
      there was profound for me.
    </p>
    <p>
      I go into greater detail in the About page but suffice to say that this
      original desire has morphed into digital architecture, leading to creating
      websites.
    </p>
    <a href="/about/"
      ><button class="btn-custom mb-4">More about me &rsaquo;</button></a
    >

    <FeaturesBanner />
    <section class="full-width technologies">
      <Heading tagName="h2" size="h2">Technologies</Heading>
      <ul class="list-disc list-inside">
        <li>
          <strong>Astro</strong> - if you're at all interested in building websites
          you <i>must</i> look into the Astro web framework. <a
            href="https://astro.build/"
            target="_blank">Here &rsaquo;</a
          >
        </li>
        <li><strong>Design system</strong> - Open Props</li>
        <li>
          <strong>Componentry</strong> (is there such a word 🤣) - TailwindCSS and
          Flowbite
        </li>
        <li>
          For more CSS fun - <strong>PostCSS</strong> with these plugins:
          <ul class="mt-2">
            <li><code>postcss-custom-media</code></li>
            <li><code>postcss-nesting</code></li>
            <li>
              <code>postcss-preset-env</code> - for any cool new CSS feature not
              listed above
            </li>
            <li><strong>JavaScript</strong></li>
            <li><strong>Netlify</strong> for hosting</li>
          </ul>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style>
  .technologies {
    place-items: center;
    padding-top: var(--space-lg);
  }
</style>
