---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { fade } from "astro:transitions";
const title = "Peter's website";
---

<Layout title={title}>
  <Hero />
  <main class="content-grid home" transition:animate={fade({ duration: "0.7s" })}>
    <h1><span class="text-gradient">Welcome</span></h1>
    <h2>Website Architecture</h2>
    <p>
      My first job, thanks to help from my dad, at age 14, was to help around an Architecture office. As a kid at that time I was interested in artistic, creative things. Then here were these people, architects, making a living doing this. About all I really did there beyond observing was to get in their way, and it didn't last long as a job&mdash;but just being there was profound for me.
    </p>
    <p>
      I go into greater detail in the About page but suffice to say that this original desire has morphed into digital architecture, leading to creating websites.
    </p>
    <a href="/about/"><button class="btn-custom mb-4">More about me &rsaquo;</button></a>

    <section class="breakout py-4 rounded-md my-6">
      <p class="m-0">
        <span class="p-text-gradient-23">
          This website was an awesome experience to build; after multiple
          attempts, it feels great to get things off the ground. I'm going to
          write a blog post about it soon so keep checking back!
        </span>
      </p>
    </section>
    <section class="">
    <h3>The technologies used:</h3>
    <ul class="list-disc list-inside">
      <li>
        <strong>Astro</strong> - if you're at all interested in building
        websites you <i>must</i> look into the Astro web framework. <a
          href="https://astro.build/"
          target="_blank">Here &rsaquo;</a
        >
      </li>
      <li><strong>Design system</strong> - Open Props</li>
      <li>
        <strong>Componentry</strong> (is there such a word 🤣) - TailwindCSS and
        Flowbite
      </li>
      <li>
        For more CSS fun - <strong>PostCSS</strong> with these plugins:
        <ul class="mt-2">
          <li><code>postcss-custom-media</code></li>
          <li><code>postcss-nesting</code></li>
          <li>
            <code>postcss-preset-env</code> - for any cool new CSS feature not
            listed above
          </li>
        </ul>
      </li>
      <li>And <strong>JavaScript</strong></li>
    </ul>
  </section>
    <!-- </div> -->
  </main>
</Layout>
