---
import Social from "@ui/Social.astro";
const today = new Date();
---

<footer class="full-width bg-white shadow px-4">
      <ul class="nav--footer flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
          <li>
              <a href="/" class={Astro.url.pathname.split("/")[1] === ""
          ? "active footer-link"
          : "footer-link"}>Home</a>
      </li>
      <li>
          <a href="/about/" class={Astro.url.pathname.split("/")[1] === "about"
          ? "active footer-link"
          : "footer-link"}>About</a>
      </li>
      <li>
          <a href="/blog/" class={Astro.url.pathname.split("/")[1] === "blog"
          ? "active footer-link"
          : "footer-link"}>Blog</a>
      </li>
      <li>
          <a href="/contact/" class={Astro.url.pathname.split("/")[1] === "contact"
          ? "active footer-link"
          : "footer-link"}>Contact</a>
      </li>
    </ul>
    <Social />
    <p class="legal text-sm text-gray-500 sm:text-center dark:text-gray-400">© {today.getFullYear()} PY&E Inc.™. All Rights Reserved.</p>
</footer>
