---
import Social from "./Social.astro";
const today = new Date();
const twitter = "twitter";
const username = "pychap";
---

<footer class="bg-white rounded-lg shadow m-4">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {today.getFullYear()} PY&E Inc.™. All Rights Reserved.
  </span>
  <Social platform={twitter} username={username} />
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="/" class={Astro.url.pathname.split("/")[1] === ""
          ? "active footer-link"
          : "footer-link"}>Home</a>
      </li>
      <li>
          <a href="/about/" class={Astro.url.pathname.split("/")[1] === "about"
          ? "active footer-link"
          : "footer-link"}>About</a>
      </li>
      <li>
          <a href="/blog/" class={Astro.url.pathname.split("/")[1] === "blog"
          ? "active footer-link"
          : "footer-link"}>Blog</a>
      </li>
      <li>
          <a href="/contact/" class={Astro.url.pathname.split("/")[1] === "contact"
          ? "active footer-link"
          : "footer-link"}>Contact</a>
      </li>
  </ul>
  </div>
</footer>
