---
import FigCaption from "./ui/FigCaption.astro";
---

<section
  class="content-grid relative hero bg-center bg-no-repeat bg-dark-2 bg-blend-multiply border-t border-t-black border-opacity-30"
>
  <div class="hero-container px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1 class="table-cell mb-4 lg:px-4 text-left tracking-normal text-white"
    ><span class="p-text-gradient">Code &amp; Aesthetic</span>
    </h1>
    <p class="mb-8 text-gray-300 lg:px-4 text-left">
      Being a Front-end UI developer empowers me to create through code and design, web structures that entice, inspire and provide valuable user flows. I hand-crafted this site from scratch, creating and styling every component. Some of the building blocks I used are listed in the <span class="link"><a href="#tech">Technology section</a></span> below.
    </p>
    
  </div>
  <FigCaption isDark={true} name="Daniel Korpai" artistUrl="https://unsplash.com/@danielkorpai" photoUrl="https://unsplash.com/photos/turned-on-laptop-on-table-HyTwtsk8XqA" />
</section>
