---
---

<section
  class="hero bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-dark-2 bg-blend-multiply border-t border-t-black border-opacity-30"
>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1
      class="mb-4 font-extrabold tracking-tight leading-none text-white"
    >
      Front-end <span class="p-text-gradient">Aesthetic</span>
    </h1>
    <p
      class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48 text-left"
    >
      Being a Visual Front-end UI developer alows me to create through code, and paint digital structures that should entice, inspire and provide a valuable user experience.
    </p>

  </div>
</section>
