---
---

<section
  class="relative hero bg-center bg-no-repeat bg-dark-2 bg-blend-multiply border-t border-t-black border-opacity-30"
>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1
      class="mb-4 sm:px-16 lg:px-48 text-left tracking-normal text-white"
    >Front-end <br /><span class="p-text-gradient">Aesthetic</span>
    </h1>
    <p class="mb-8 text-lg text-gray-300 lg:text-xl sm:px-16 lg:px-48 text-left">
      Being a Visual Front-end UI developer empowers me to create—through code and digital paint, web structures that entice, inspire and provide a valuable user experience.
    </p>
    
  </div>
  <span class="absolute text-white font-extralight bottom-3 text-xs text-gray-600 left-3">Background photo by <a href="https://unsplash.com/@danielkorpai?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Daniel Korpai</a> on <a href="https://unsplash.com/photos/turned-on-laptop-on-table-HyTwtsk8XqA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" target="_blank">Unsplash</a>
</span>
</section>
