---
import DarkModeSwitcher from "./ui/DarkModeSwitcher.astro";


---

<nav
  class="relative z-50 bg-white border-gray-200"
>
<section class="top-nav">
  <div class="logo">
    <a href="/" class="flex">
      <!-- my personal log goes here -->
      <span
        class="self-center text-lg font-semibold whitespace-nowrap dark:text-white p-text-gradient"
        >Web Code &amp; Aesthetic</span
      >
    </a>
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
  <div class='menu-button'></div>
</label>
  <ul class="menu">
    <li><a
      href="/"
      class="block text-gray-700 dark:text-white"
      >Home</a></li>
    <li><a
      href="/about/"
      class="text-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
      >About</a></li>
    <li><a
      href="/blog/"
      class="text-gray-700 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
      >Blog</a></li>
    <li><a
      href="/contact/"
      class="text-gray-700 md:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
      >Contact</a></li>
  </ul>
  <DarkModeSwitcher />
</section>
</nav>

<style>
  .logo {
    transform: translateX(0);
  }
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 1em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    position: absolute;
    width: 40px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: tan; */
  }

  #menu-toggle {
    display: none;
  }

  .menu-button {
    left: 0.3rem;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: var(--stone-8);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  @media (max-width: 700px) {
    nav {
      position: fixed;
      background-color: #fff;
    }
    .logo {
      transform: translateX(55px);
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: fixed;
      top: 10px;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 20px 24px rgba(17, 17, 26, 0.21), 0px 66px 15px rgba(17, 17, 26, 0.16), 0px 24px 11px rgba(17, 17, 26, 0.2);
    }

    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      min-width: 100vw;
      /* border: 1px solid #333; */
      height: 3em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: start;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: white;
    }

    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }

    .menu > li > a {
      display: inline-flex;
      align-items: center;
      width: 100%;
      padding-left: 1.5rem;
    }

    .menu > li > a:hover {
      background-color: var(--gray-0);
    }
  }
  
</style>
