---
type Props = {
  pubDate: Date;
}

const { pubDate } = Astro.props;
---

<div class="mt-4">
  <p class="pub__date-time">Published:
  <time datetime={pubDate.toISOString()} class=""><strong>{pubDate.toLocaleDateString()}</strong></time></p>
</div>

<style>
  .pub__date-time {
    font-size: var(--size-3);
  }
</style>