---
type Props = {
  pubDate: Date;
}

const { pubDate } = Astro.props;
---

<div class="pill mt-4">
  <p class="">Published:</p>
  <time datetime={pubDate.toISOString()} class="text-tertiary"><strong>{pubDate.toLocaleDateString()}</strong></time>
</div>
