---
import { Icon } from "astro-icon/components";
import { socialData } from "@/data/siteData";
---

<ul class="social">
  {
    socialData.map(({ href, icon, title }) => (
      <li>
        <a href={href} aria-title={title} title={title} target="_blank">
          <Icon name={icon} size={20} />
          </a>
      </li>
    ))
  }
</ul>

